<div class="cstm_full cstm_padd15">

<div class="cstm_padd15">
    <div class="row">
        <div class="col-md-2">
            <h5>Status</h5>
            <div><p>All Cases</p></div>
        </div>
        <div class="col-md-2">Country</div>
        <div class="col-md-2">Reset Filters</div>
        <div class="col-md-6">
            <input type="text"  [(ngModel)]="search"  id="search-box" class="cstm_search" placeholder="Search" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="cstm_cases">
                <a class="active">All Cases</a>
                <a>Complete</a>
                <a>Incomplete</a>
            </div>
        </div>
    </div>
</div>


<table class="table">
  <thead>
    <tr>
      <th scope="col"><input class="form-check-input" type="checkbox" value="" />&nbsp;</th>
      <th scope="col">IMG</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Birth Date</th>
      <th scope="col">Country</th>
      <th scope="col">Uncomplete</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let user of users | filter: search" >
          <th scope="row"><input class="form-check-input" type="checkbox" value="" /></th>
          <td><img src="assets/img/{{user.img}}.png"></td>
          <td>{{user.firstName }}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.birthDate | date:'mediumDate'}}</td>
          <td>{{user.country}}</td>
          <td>{{user.unComplete}}</td>
          <td><button class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#myModal" [class.selected]="user === selectedUser" (click)="onSelect(user)"><i class="material-icons md-18">mode_edit</i></button></td>
      </tr>
  </tbody>
</table>

<div class="container">
    <ul class="pagination">
        <li class="page-item"><a class="page-link">Previous</a></li>
        <li class="page-item"><a class="page-link">1</a></li>
        <li class="page-item"><a class="page-link">2</a></li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item"><a class="page-link">Next</a></li>
    </ul>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
      <div class="modal-content">
           <app-user-detail [user]="selectedUser"></app-user-detail>
    </div>
  </div>
</div>

</div>
