<div class="row">
    <div class="col-sm-6 cstm_padd15">
        <p>Client Name Logo | Company Name and Logo</p>
    </div>
    <div class="col-sm-6 navbar-nav cstm_padd15 text-right">
      <a class="nav-item nav-link">Logout</a>
    </div>
</div>

<div class="row">
    <div class="col-sm-3 cstm_bar"> 
        <ul>
            <li>Cases</li>
            <li>Create</li>
            <li>Admin</li>
        </ul> 
    </div>
    <div class="col-sm-9">
        <div layout="row" layout-xs="column">
            <div flex>
            <app-list></app-list>
            </div>
        </div>
    </div>
</div>
